################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/Muszilla.csproj
/Muszilla.csproj.user
/Muszilla.sln
/Properties/PublishProfiles/Muszilla - Web Deploy.pubxml.user
/Properties/PublishProfiles/Muszilla - Web Deploy.pubxml
/obj
/Alody/FileContentIndex
/Alody/v17
/Muszilla/v17
/Handlers/obj
/Handlers/bin
/Requests/obj
/Requests/bin
/Responses/obj
/Responses/bin
/ViewModels/obj
/ViewModels/bin
/.vs
/.vs/Alody/FileContentIndex
/.vs/Alody/FileContentIndex/314a6975-4c76-484b-9fb3-52a2b3d849a9.vsidx
/.vs/Alody/FileContentIndex/61d096e7-2455-4c49-98fc-2104e6cb6b83.vsidx
/.vs/Alody/FileContentIndex/90b7d1cf-8771-4d29-b364-51c62c657047.vsidx
/.vs/Alody/FileContentIndex/bc0cfb39-1427-4012-a65d-62fa06ee676a.vsidx
/ProjectEvaluation
