<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Home Page</title>

    
    <link rel="stylesheet" type="text/css" href="User_Homepage.css"/>

</head>
<body>
    <!-- This logo was created by hand by Natalia, so there is no link-->
    <div id="logo">
        <img src="officialMuszillaLogo.jpg" width="250px" alt="Image Of Muszilla logo">
    </div>

    <div class="sidebar">

        <form id="searchBar">
            <input type="search" placeholder="Search">
        </form>

        <div id="contents">
            <a href="" onclick="myFunction1()" id="userHome"> Home</a>
            <a href="" onclick="myFunction1()" id="accountDetails"> Account</a>
            <a href="" onclick="myFunction1()" id="userSettings"> Settings</a>
        </div>

        <div>
            <p>Recently Played  <i class="arrow down"></i> </p>

            <ul>
                <li>Song 1 Name</li>
                <li>Song 2 Name</li>
                <li>Song 3 Name</li>
            </ul>

        </div>
    </div>

    <div>
        <button type="button" class="btn1" onclick="myFunction()" id="tp"> TOP PICKS </button>
        <button type="button" class="btn2" onclick="myFunction()" id="feat"> FEATURED </button>
        <button type="button" class="btn3" onclick="myFunction()" id="gen"> GENRES </button>
    </div>

    <div class="homescreen" id="homefirst">
        <!-- This image is from Pixabay by Stephanie Edwards and the Link is: https://pixabay.com/vectors/blank-profile-picture-mystery-man-973460/ -->
        <img id="userImage" src="emptyImage.png" />
        <div id="userName" contenteditable="true">User Name </div>
        <div id="userEmail" contenteditable="true">User Email</div>

        <p>My Playlists</p>

        <form id="f1">
            <label for="audio_list" id="lbl1">
                Playlist 1:
            </label>
            <select onchange="change_audio_file();" id="audio_list">
                <!-- All this music is from bensound.com and the link is: https://www.bensound.com/ -->
                <option id="opt" value="">Select A Song </option>
                <option id="opt" value="anewbeginning.mp3">A New Beginning</option>
                <option id="opt" value="creativeminds.mp3">Creative Minds</option>
                <option id="opt" value="ukulele.mp3">Ukulele</option>
                <option id="opt" value="goinghigher.mp3">Going Higher</option>
                <option id="opt" value="cute.mp3">Cute</option>
                <option id="opt" value="buddy.mp3">Buddy</option>
                <option id="opt" value="littleidea.mp3">Little Idea</option>
                <option id="opt" value="jazzyfrenchy.mp3">Jazzy Frenchy</option>
            </select>
        </form>

    </div>

    <div id="topPicks">
        <!-- Photo is from Pexels by Garrett Morrow and the Link is: https://www.pexels.com/photo/top-view-photo-of-black-wireless-headphones-1649771/  -->
        <div> <img class="btn01" src="/Pictures/headPhones.jpg" /><p id="item1">Song & Artist Name1 </p> </div>
        <div> <img class="btn02" src="/Pictures/headPhones.jpg" /><p id="item2">Song & Artist Name2 </p> </div>
        <div> <img class="btn03" src="/Pictures/headPhones.jpg" /><p id="item3">Song & Artist Name3 </p> </div>
        <div> <img class="btn04" src="/Pictures/headPhones.jpg" /><p id="item4">Song & Artist Name4 </p> </div>
        <div> <img class="btn05" src="/Pictures/headPhones.jpg" /><p id="item5">Song & Artist Name5 </p> </div>
        <div> <img class="btn06" src="/Pictures/headPhones.jpg" /><p id="item6">Song & Artist Name6 </p> </div>
    </div>


    <div id="audio_container">
        <audio controls id="audio_player" src="audio/demo.mp3">
            <div>
                Sorry, your browser does not support this audio player.
            </div>
        </audio>
    </div>

    <script type="text/javascript">

        function change_audio_file() {
            var file_list = document.getElementById('audio_list');
            var file_to_play = file_list.options[file_list.selectedIndex].value;
            var player = document.getElementById('audio_player');
            player.src = file_to_play;
            player.play();
        }

        function myFunction1() {
            var x = document.getElementByTagName("*")[0];

            if (x.id === "userHome") {
                document.getElementById("homefirst").style.display = "inherit";
            }
        }

        function myFunction() {

            document.getElementById("topPicks").style.display = "inherit";
           
        }


    </script>
</body>
    </html>
