<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Home Page</title>

    
    <link rel="stylesheet" type="text/css" href="User_Homepage.css"/>

</head>
<body>
    <!-- This logo was created by hand by Natalia, so there is no link-->
    <div id="logo">
        <img src="officialMuszillaLogo.jpg" width="250px" alt="Image Of Muszilla logo">
    </div>

    <!-- Load an icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <i class="fa fa-fw fa-user"></i> -->
    <div class="sidebar">

        <form id="searchBar">
            <input type="search" placeholder="Search">
        </form>

        <div id="contents">
            <a href="#home"> Home</a>
            <a href="#headphones"> My Playlist</a>
            <a href="#account"> Account</a>
            <a href="#settings"> Settings</a>
        </div>
       
        <div>
            <p>Recently Played  <i class="arrow down"></i> </p>

            <ul>
                <li>Song 1 Name</li>
                <li>Song 2 Name</li>
                <li>Song 3 Name</li>
            </ul>

        </div>
    </div>

    <div>
        <button type="button" class="btn1" onclick=""> TOP PICKS </button>
        <button type="button" class="btn2" onclick=""> FEATURED </button>
        <button type="button" class="btn3" onclick=""> GENRES </button>
    </div>

    <div class="homescreen">
            <!-- This image is from Pixabay by Stephanie Edwards and the Link is: https://pixabay.com/vectors/blank-profile-picture-mystery-man-973460/ -->
            <img id="userImage" src="emptyImage.png" />
            <div id="userName" contenteditable="true">User Name </div> 
            <div id="userEmail" contenteditable="true">User Email</div>
            <p>My Playlists</p>
            
        <select class="playlists">
            <option value="default">Playlist 1 Name</option>
            <option value="song1">Song 1 Name</option>
            <option value="song2">Song 2 Name</option>
            <option value="song3">Song 3 Name</option>
            <option value="song4">Song 4 Name</option>
         </select>

        <select class="playlists2">
            <option value="default">Playlist 2 Name</option>
            <option value="song1">Song 1 Name</option>
            <option value="song2">Song 2 Name</option>
            <option value="song3">Song 3 Name</option>
            <option value="song4">Song 4 Name</option>
         </select>

        <!--
            <details class="playlists">
                <summary>Playlist 1 Name</summary>
                    <ul>
                        <li>Song 1 Name</li>
                        <li>Song 2 Name</li>
                        <li>Song 3 Name</li>
                    </ul>
            </details>
            <details class="playlists2">
                <summary>Playlist 2 Name</summary>
                    <ul>
                        <li>Song 1 Name</li>
                        <li>Song 2 Name</li>
                        <li>Song 3 Name</li>
                    </ul>
            </details> -->

    </div>

    <!-- <div id="topPicks"></div>

    <br />

    <!-- Photo is from Pexels by Garrett Morrow and the Link is: https://www.pexels.com/photo/top-view-photo-of-black-wireless-headphones-1649771/  -->
    <!-- <div> <img class="btn01" src="headPhones.jpg" /><p id="item1">Song & Artist Name1 </p> </div>
    <div> <img class="btn02" src="headPhones.jpg" /><p id="item2">Song & Artist Name2 </p> </div>
    <div> <img class="btn03" src="headPhones.jpg" /><p id="item3">Song & Artist Name3 </p> </div>
    <div> <img class="btn04" src="headPhones.jpg" /><p id="item4">Song & Artist Name4 </p> </div>
    <div> <img class="btn05" src="headPhones.jpg" /><p id="item5">Song & Artist Name5 </p> </div>
    <div> <img class="btn06" src="headPhones.jpg" /><p id="item6">Song & Artist Name6 </p> </div> -->

     <script type="text/javascript">
        /* var x = document.getElementById('home');

        function showHomepage() {

        }

        function init() {
            // Retrieving the text input's value which was stored into localStorage
            var fname = localStorage.getItem("fn");
            var em = localStorage.getItem("e");
            var pass = localStorage.getItem("p");

            // Writing the value in the document
            document.write("First Name = " + fname);
            document.write("Email = " + em);
            document.write("Password = " + pass);
        } * /

    </script>
</body>
    </html>
