@{
    ViewData["Title"] = "Login Page";
    string[] TableHeaders = new string[]
    {
        "Song_ID", "Song_Name", "Song_Artist", "Song_Length", "Song_Genre"
    };
}
<div class= "table">
    <table>
        <thead>
            <tr>
                @{ 
                    foreach (var head in TableHeaders)
                    {
                        <th>
                            @head
                        </th>
                    }
                }}
                <th>

                </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
    
